body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.players, .guesses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.players input, .guesses input {
  padding: 10px;
  font-size: 16px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:disabled {
  background-color: #ccc;
}

.reset-btn {
  background-color: #660033;
}

.scores h3 {
  margin: 10px 0;
}

h2 {
  margin: 20px 0;
  color: #dc3545;
}

.winner-message {
  color: #28a745; /* Green */
  font-size: 24px;
  font-weight: bold;
}


input::placeholder {
  color: #999;
}

